---
- hosts: '{{ hosts }}'
  remote_user: root
  vars:
      http_port: 80
      max_clients: 200
  tasks:
    - name: test connection
      ping:

  tasks:
    - name: check selinux
      command: /sbin/getenforce
      register: result
      failed_when: false
  
    - name: 检查结果
      command: /sbin/setenforce 0
      ignore_errors: True
      when: result.rc == "Disabled"
     
    - name: install nload
      yum: name=nload state=present

  #tasks:
  #  - name: Copy file to client
  #    copy: src=/etc/ansible/hosts dest=/etc/ansible/hosts
  #          owner=root group=root mode=0644

  #构建多种条件
  #tasks:
  #  - include: wordpress.yml wp_user=timmy
  #  - include: wordpress.yml wp_user=alice
  #  - include: wordpress.yml wp_user=bob


  #从模版拷贝文件
  #template: src=templates/foo.j2 dest=/etc/foo.conf
  #notify:
  #   - restart apache
  #handlers: #由notify 触发
  #  - name: restart apache
  #    service: name=httpd state=restarted
