/* 导入主题样式 */
@import url('./theme.css');

/* Logo样式 */
main .app-name-link img{
    height: 80px;
    transition: filter .3s;
    filter:brightness(170%);
}

/* app-name-link 链接样式 - 无下划线 */
.app-name-link {
    text-decoration: none !important;
}

.app-name-link::after {
    display: none !important;
}
